
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #fafafa;
}

.container {
    width: 900px;
    margin-left: 100px;
    margin-top: 50px;
}

.price {
    width: 410px;
    height: 25px;
    border: 1px solid #f4f4f4;
}

.price__img-cofee {
    width: 15px;
    height: 15px;
    object-fit: cover;
    display: inline-block;
    position: relative;
    top: 3px;
}

.price__headline {
    display: inline-block;
    font-family: Roboto;
}

.price__row {
    display: inlne-block;
}

.price__price {
    display: inline-block;
    /* margin-left: 50px; */
    float: right;
    margin-right: 15px;
    font-weight: 500;
    font-family: Roboto;
}

.path-to-page {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 0.65rem;
}

.path-to-page__path {
    display: inline-block;
}

.path-to-page__information {
    opacity: 0.90;
    font-weight: 300;
}

.path-to-page__shipping {
    opacity: 1;
    font-size: 1.01;
    font-weight: 600;
}

.path-to-page__payment {
    opacity: 0.4;
}